:root {
  /* Paleta principal */
  --color-primary-dark: #002329;
  --color-accent: #ff4c35;
  --color-success: #09d17c;

  /* Tons suaves */
  --color-background: #f0f5f4;
  --color-surface: #ffffff;
  --color-surface-soft: #f8fbfa;
  --color-text-dark: #133138;
  --color-text-light: #f8fbfa;
  --color-text-muted: #5b7378;
  --color-border: #d6e3e1;

  /* Variações sutis*/
  --color-primary-soft: #dceced;
  --color-accent-soft: #ffd8d1;
  --color-success-soft: #d7f6ea;
}
